body {
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 1.5;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
}

header{
    background-color: white;
    
}

a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

.header-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hamburg{
    display: inline;
    object-position: contain;
}

div ul{
    margin: 0;
    padding:0;
}

.item{
    display: none;
    list-style-type: none;
}

.button-header{
    display: none;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%))
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    /* background-position: 0% 50%; */
    background-size:contain;
    margin: auto;
    overflow: hidden;
}



.img-mobiles{
    width: 100%;
    box-sizing: border-box;
    object-position: contain;
    margin-top: -100px;
}

.info-container{
    text-align: center;
    padding: 30px;
}

.heading1{
    color: hsl(233, 26%, 24%);
    font-size: 48px;

}

.description{
    color: hsl(233, 8%, 62%);
    font-size: 24px;
}

.button{
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 25px 10px 25px;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%))
}

.why-choose-container{
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.choose-container{
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card-container{
    display: flex;
    flex-direction: column;
}

.heading2{
    color: hsl(233, 26%, 24%);
    font-size: 40px;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.heading3{
    color: hsl(233, 8%, 62%);
    font-size: 36px;
}

.description3{
    color: hsl(233, 8%, 62%);
    font-size: 24px;
    text-align: center;
}

.image{
    width: 120px;
}

.section-container2{
    padding-bottom: 50px;
}

.heading4{
    color: hsl(233, 8%, 62%);
    font-size: 40px;
    text-align: center;
}

#card{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
}

.image2{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#sub-card{
    padding: 12px;
}

.name{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
}

.about{
    color:hsl(233, 8%, 62%);
}

.description2{
    color: hsl(233, 8%, 62%);
    font-size: 22px;
}

.footer-section{
    width: 100%;
    min-height: 200px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    box-sizing: border-box;
    text-align: center;
}

.logo{
    width: 170px;
    object-position: contain;
}

.social-media-icon{
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-top: 30px;
}

.footer-items{
    display: flex;
    flex-direction: column;
}

.list-item{
    font-size: 25px;
    font-weight: 600;
    list-style-type: none;
    margin: 15px 0 15px 0;
    color:hsl(0, 0%, 100%);
}

.button-footer{
    width: 250px;
    height: 60px;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%))
}

.copy-right{
    color: hsl(233, 8%, 62%);
    font-size: 22px;
    font-weight: 500;
}














@media (min-width: 768px) {

    .img-container{
        width: 100%;
        min-height: 300px;
        background-image: url("./images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: 27rem -15rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        box-sizing: border-box;
        overflow: visible;
        padding-left: 40px;
    }

   
    .img-mobiles{
        width: 50%;
        position: relative;
        bottom: -100px;
        /* right: -30px; */
    }

    .item{
        display: inline;
        font-size: 14px;
        color: hsl(233, 8%, 62%);
        margin: 12px;
    }

    .hamburg{
        display: none;
    }

    .button-header{
        display: inline;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
        cursor: pointer;
    }

    .info-container{
        width: 30vw;
        text-align: start;
        padding: 40px;
    }

    .heading1{
        font-size: 38px;
    }
    
    .description{
        font-size: 18px;
    }
    
    .button{
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
        cursor: pointer;
    }


    .why-choose-container{
        align-items: flex-start;
        /* margin: 0 20px 0 20px; */
        padding-left: 40px;
        box-sizing: border-box;
    }
    
    .choose-container{
        width: 50%;
        text-align: start;
        align-items: flex-start;
        padding-left: 40px;
    }

    .main-card-container{
        flex-direction: row;
    }

    .heading2{
        font-size: 23px;
    }

    .card-container{
        align-items: flex-start;
        /* margin: 0 20px 0 20px; */
        padding-left: 40px;
    }
    
    .heading3{
        font-size: 20px;
        /* text-align: start; */
    }

    .description3{
        font-size: 15px;
        text-align: start;
    }
    
    .image{
        width: 70px;
    }

    .description{
        font-size: 16px;
    }

    .section-container2{
        margin: 0 20px 0 20px;
        margin-left: 40px;
        box-sizing: border-box;
    }
    
    .heading4{
        font-size: 25px;
        text-align: start;
        margin-left: 30px;
        margin-top: 30px;
    }

    .row-cards-container{
        display: flex;
    }

    #card{
        width: 80vw;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #sub-card{
        margin-left: 10px;
    }
    
    .name{
        font-size: 12px;
    }
    
    .about{
        font-size: 15px;
    }

    .description2{
        font-size: 13px;
    }

    .footer-section{
        height: 200px;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-items{
        width: 35%;
        height: 150px;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .list-item{
        font-size: 15px;
        font-weight: 400;
        margin: 12px 0 12px 0;
    }

    .social-media-icon{
        width: 30px;
        height: 30px;
        margin-top: 30px;
    }

    .button-footer{
        width: 160px;
        height: 40px;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    
    .copy-right{
        font-size: 15px;
        font-weight: 300;
    }

    .item:hover{
        border-bottom: 2px solid hsl(192, 70%, 51%);
    }

    .list-item:hover, .about:hover{
        color: hsl(192, 70%, 51%);
        cursor: pointer;
    }


}